.ssc-deleted.ssc-compact {
    margin-bottom: 0;
}

.ssc-deleted.ssc-compact .sound__body, .ssc-deleted.ssc-hide {
    visibility: hidden;
    height: 0;
    margin-bottom: 0;
}

.ssc-deleted.ssc-hide .coverArt__infoItem, .ssc-deleted.ssc-hide .addToNextUp {
    display: none;
}

.ssc-deleted.ssc-hide .g-all-transitions-300 {
    transition: none;
}

.ssc-deleted .ssc-button.sc-button-delete.sc-button-selected:before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+IDx0aXRsZT5JbXBvcnRlZCBMYXllcnM8L3RpdGxlPiA8Zz4gIDx0aXRsZT5iYWNrZ3JvdW5kPC90aXRsZT4gIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSIxOCIgd2lkdGg9IjE4IiB5PSItMSIgeD0iLTEiLz4gPC9nPiA8Zz4gIDx0aXRsZT5MYXllciAxPC90aXRsZT4gIDxwYXRoIGlkPSJzdmdfMSIgZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSIjZjUwIiBkPSJtOS45NjgsM2wxLjAxNCwwYzIuMDE4LDAgMi4wMTgsMiAyLjAxOCwybC0xMCwwczAuMDksLTIgMi4wODgsLTJsMC45NDMsMGMwLjUyLC0wLjYxNSAxLjMyNCwtMS4wMDEgMS45NjksLTEuMDAxYzAuNjQzLDAgMS40NDcsMC4zODYgMS45NjgsMS4wMDF6bS01Ljk2OCwzbDAsNi4wMDJjMCwxLjEwMyAwLjg4NywxLjk5OCAxLjk5OCwxLjk5OGw0LjAwNCwwYTEuOTkzLDEuOTkzIDAgMCAwIDEuOTk4LC0xLjk5OGwwLC02LjAwMmwtOCwweiIvPiA8L2c+PC9zdmc+");
}
